.show_article_container {
    position: relative;
    width: 47%;
    height: 90vh;
    background-color: white;
    opacity: 0.7;
    overflow: hidden;
    .show_article_title_area {
        .show_article_title {
            border-bottom: solid 1px gray;
        }
    }
}