.article_create_container {
    display: flex;
    .article_create_left_area {
        position: relative;
        left: 20px;
        padding: 10px;
        width: 45%;
        border-right: 1px solid gray;
        .article_create_title_area {
            padding: 10px;
            .article_create_title_headline {

            }
            .article_create_title_input {
                &_form {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .article_create_genre_area {
            padding: 10px;
            .article_create_genre_headline {

            }
            .article_create_genre_input {

            }
        }
        .article_create_tag_area {
            padding: 10px;
            .article_create_tag_headline {

            }
            .article_create_tag_input {
                &_form {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .article_create_article_area {
            padding: 10px;
            #article_create_article_input {
                padding: 10px;
                &_form {
                    width: 100%;
                    line-height: 20px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 2px solid black;
                }
            }
        }
        .article_create_submit_area{
            padding: 10px;
        }
    }
    .article_create_right_area {
        padding: 10px;
        position: relative;
        left: 20px;
        width: 45%;
        .article_view_preview_area {
            padding: 10px;
            .article_view_preview {

            }
        }
        .article_view_genre_area {
            height: 68px;
            padding: 10px;
            position: relative;
            .article_view_genre {
                border-bottom: 1px solid gray;
            }
        }
        .article_view_title_area {
            padding: 10px;
            min-width: 200px;
            .article_view_title {
                border-bottom: 1px solid gray;
                min-width: 20%;
            }
        }
        .article_view_tag_area {
            padding: 10px;
            .article_view_tag {
                border: 1px solid gray;
                border-radius: 5px;
                height: 30px;
                width: 100%;
            }
        }
        .article_view_article_area {
            padding: 10px;
            .article_view_article {
                border: 1px solid gray;
                border-radius: 5px;
                overflow: hidden;
                width: 100%;
                min-height: 50vh;
            }
        }
    }
}