.article_create_container {
    display: flex;
    .article_create_left_area {
        position: relative;
        left: 20px;
        padding: 10px;
        width: 45%;
        border-right: 1px solid gray;
        .article_create_title_area {
            padding: 10px;
            .article_create_title_headline {

            }
            .article_create_title_input {
                #article_create_title_input_form{
                    width: 100%;
                    border-radius: 5px;
                    resize: none;
                    padding: 1px;
                }
            }
        }
        .article_create_genre_area {
            padding: 10px;
            .article_create_genre_headline {
                display: flex;
                > p {
                    margin-left: 0;
                    margin-right: 5px;
                }
            }
            .article_create_genre_input {
                display: flex;
            }
        }
        .article_create_tag_area {
            padding: 10px;
            .article_create_tag_headline {

            }
            .article_create_tag_input {
                #article_create_tag_input_form {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }
        .article_create_article_area {
            padding: 10px;
            #article_create_article_input {
                padding: 10px;
                &_form {
                    width: 100%;
                    line-height: 20px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 2px solid black;
                    resize: none;
                }
            }
        }
        .article_create_submit_area{
            padding: 10px;
        }
    }
    .article_create_right_area {
        padding: 10px;
        position: relative;
        left: 20px;
        width: 45%;
        border-right: solid 1px white;
        .article_view_preview_area {
            padding: 10px;
            .article_view_preview {

            }
        }
        .article_view_genre_area {
            height: 68px;
            padding: 10px;
            position: relative;
            .article_view_genre {
                border-bottom: 1px solid gray;
            }
        }
        .article_view_title_area {
            padding: 10px;
            min-width: 200px;
            #article_view_title {
                border-bottom: 1px solid gray;
                min-width: 20%;
                min-height: 20px;
            }
        }
        .article_view_tag_area {
            padding: 10px;
            #article_view_tag {
                border: 1px solid gray;
                border-radius: 5px;
                height: 30px;
                width: 100%;
                .article_view_tag_color {
                    background-color: rgb(87, 212, 250);
                    border-radius: 3px;
                    margin: 3px 0px 3px 0px;
                    padding: 0 1px 0 1px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
        .article_view_article_area {
            padding: 10px;
            #article_view_article {
                border: 1px solid gray;
                border-radius: 5px;
                overflow: hidden;
                width: 100%;
                min-height: 23vh;
                word-break: break-all;
                padding: 5px;

            }
        }
    }
}
.validate_alert {
    color: rgb(255, 134, 134);
}