.list_article_container {
    margin-left: 20%;
    width: 40%;
    height: 100vh;
    .list_article_content {
        border-bottom: solid 1px gray;
        .list_title_area {
            color: gray;
        }
        .list_article_area {
            color: gray;
        }
    }
}